<!DOCTYPE html>
<html>

<head>
    <title>Películas con <%= actorName %>
    </title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <h1>Películas con <%= actorName %>
    </h1>
    <h3>Películas como actor</h3>
    <ul>
        <% actedMovies.sort((a, b)=> new Date(b.release_date) - new Date(a.release_date)).forEach((movie) => { %>
            <li><a href="/pelicula/<%= movie.movie_id %>">
                    <%= movie.title %> (<%= new Date(movie.release_date).getFullYear() %>) as <%= movie.role %>
                </a></li>
            <% }); %>
    </ul>
    <h3>Películas como director</h3>
    <ul>
        <% directedMovies.sort((a, b)=> new Date(b.release_date) - new Date(a.release_date)).forEach((movie) => { %>
            <li><a href="/pelicula/<%= movie.movie_id %>">
                    <%= movie.title %> (<%= new Date(movie.release_date).getFullYear() %>)
                </a></li>
            <% }); %>
    </ul>
    <p></p>
    <div id="inicio"><a href="/home">Inicio</a></div>
</body>

</html>