<!DOCTYPE html>
<html>

<head>
    <title>
        <%= movie.title %>
    </title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <h1>
        <%= movie.title %>
    </h1>
    <a id="add" href="">Agregar a la lista</a>
    <h3>Fecha: <%= movie.release_date %>
    </h3>
    <h3>Dirigida por: </h3>
    <ul>
        <% movie.directors.forEach((director)=> { %>
            <li>
                <a href="/director/<%= director.crew_member_id %>">
                    <%= director.crew_member_name %>
                </a>
            </li>
            <% }); %>
    </ul>
    <h3>Escrita por: </h3>
    <ul>
        <% movie.writers.forEach((writer)=> { %>
            <li>
                <%= writer.crew_member_name %>
            </li>
            <% }); %>
    </ul>
    <h3>Idioma:</h3>
    <div id="language">
        <p>
            <%= movie.language %>
        </p>
    </div>
    <h3>Géneros: </h3>
    <ul>
        <% movie.genre.forEach((gen)=> { %>
            <li>
                <%= gen.genre_name %>
            </li>
            <% }); %>
    </ul>
    <h3>Argumento:</h3>
    <div id="overview">
        <p>
            <%= movie.overview %>
        </p>
    </div>
    <h3>Elenco:</h3>
    <ul>
        <% movie.cast.sort((a, b)=> a.cast_order - b.cast_order).forEach((actor) => { %>
            <li><a href="/actor/<%= actor.actor_id %>">
                    <%= actor.actor_name %>
                </a> - <%= actor.character_name %>
            </li>
            <% }); %>
    </ul>
    <h3>Equipo:</h3>
    <ul>
        <% movie.crew.forEach((crewMember)=> { %>
            <li>
                <%= crewMember.crew_member_name %> - <%= crewMember.department_name %>
                        (<%= crewMember.job %>)
            </li>
            <% }); %>
    </ul>
    <p></p>
    <div id="inicio"><a href="/home">Inicio</a></div>
    <script>
        const add = document.getElementById("add");
        add.addEventListener("click", async (ev) => {
            ev.preventDefault();
            const response = await fetch("/api/watchlist", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ userId: localStorage.getItem("userId"), movieId: location.href.split("/")[4] })
            });
            response.text().then(result => alert(result));
        });
    </script>
</body>

</html>